.container {
  margin-bottom: 20px;
  list-style: none;
}

.star_rating {
  margin-top: 10px;
  color: rgb(240, 196, 53);
}
.name_date {
  margin: 0.1rem;
  font-weight: bold;
}
.comment {
  margin-top: 10px;
}
